<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="false" />
          <windowsAuthentication enabled="true" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, access-control-allow-origin" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\Fox.Microservices.Customers.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="SIT" />
      </environmentVariables>
    </aspNetCore>
    <cors enabled="true" failUnlistedOrigins="false">
      <add origin="http://localhost">
        <allowMethods>
          <add method="GET, POST, PUT, DELETE, OPTIONS"/>
        </allowMethods>
      </add>
      <add origin="http://localhost:2583">
        <allowMethods>
          <add method="GET, POST, PUT, DELETE, OPTIONS"/>
        </allowMethods>
      </add>
      <add origin="http://sau02ap02foxsit">
        <allowMethods>
          <add method="GET, POST, PUT, DELETE, OPTIONS"/>
        </allowMethods>
      </add>
      <add origin="http://sau02ap02foxsit.d09.root.sys">
        <allowMethods>
          <add method="GET, POST, PUT, DELETE, OPTIONS"/>
        </allowMethods>
      </add>
      <add origin="http://sau02ap02foxsit:8090">
        <allowMethods>
          <add method="GET, POST, PUT, DELETE, OPTIONS"/>
        </allowMethods>
      </add>
      <add origin="http://sau02ap02foxsit.d09.root.sys:8090">
        <allowMethods>
          <add method="GET, POST, PUT, DELETE, OPTIONS"/>
        </allowMethods>
      </add>
      <add origin="http://sau02ap02foxsit:9090">
        <allowMethods>
          <add method="GET, POST, PUT, DELETE, OPTIONS"/>
        </allowMethods>
      </add>
      <add origin="http://sau02ap02foxsit.d09.root.sys:9090">
        <allowMethods>
          <add method="GET, POST, PUT, DELETE, OPTIONS"/>
        </allowMethods>
      </add>
      <add origin="http://test.foxweb.nhc.com.au">
        <allowMethods>
          <add method="GET, POST, PUT, DELETE, OPTIONS"/>
        </allowMethods>
      </add>
      <add origin="*">
        <allowMethods>
          <add method="GET, POST, PUT, DELETE, OPTIONS"/>
        </allowMethods>
      </add>
    </cors>
  </system.webServer>
</configuration>
<!--ProjectGuid: 8dfb6c4b-3c64-44fc-8c40-9a041c90d98d-->